<div class="row">
  <!--Form-->
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <form action="">
          <div class="form-group">
            <label for="">Select Shape</label>
            <select class="form-select mb-md-2" aria-label="Default select example">
              <option selected>Select Shape</option>
              <option value="TRIANGLE">Triangle</option>
              <option value="SQUARE">Square</option>
              <option value="CIRCLE">Circle</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Insert base</label>
            <input type="number" placeholder="Insert base" class="form-control mb-md-2">
          </div>
          <div class="form-group">
            <label for="">Insert Height</label>
            <input type="number" placeholder="Insert height" class="form-control mb-md-2">
          </div>
          <div class="form-group">
            <label for="">Insert diameter</label>
            <input type="number" placeholder="Insert diameter" class="form-control mb-md-2">
          </div>
          <button class="btn  btn-block container">Add Shape</button>
        </form>
      </div>
    </div>
  </div>

  <!--List of Shapes-->
  <div class="col-md-7">
    <table class="table table-bordered table-primary">
      <thead>
        <tr>
          <th>Shape</th>
          <th>Base</th>
          <th>Height</th>
          <th>Diameter</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
