<div class="row">
  <!--Form-->
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="addShapeForm" (ngSubmit)="addShape()">
          <div class="form-group">
            <label for="">Select Shape</label>
            <select class="form-select mb-md-2" #shapetype formControlName="type"  (change)="typeShape(shapetype.value)" name="shapetype">
              <option *ngFor="let shape of shapes">{{shape}}</option>
            </select>
          </div>
          <div class="form-group"*ngIf='shapetype.value=="TRIANGLE"||shapetype.value=="SQUARE"'>
            <label for="">Insert base</label>
            <input
            type="number"
            formControlName="base"
            placeholder="Insert base"
            class="form-control mb-md-2">
          </div>
          <div class="form-group"*ngIf='shapetype.value=="TRIANGLE"'>
            <label for="">Insert Height</label>
            <input
            type="number"
            formControlName="height"
            placeholder="Insert height"
            class="form-control mb-md-2">
          </div>
          <div class="form-group" *ngIf='shapetype.value=="CIRCLE"'>
            <label for="">Insert diameter</label>
            <input
            type="number"
            formControlName="diameter"
            placeholder="Insert diameter"
            class="form-control mb-md-2">
          </div>
          <button type="submit" class="btn  btn-block container add"  [disabled]='flag ||!addShapeForm.valid'>Add Shape</button>
        </form>
      </div>
    </div>
  </div>

  <!--List of Shapes-->
  <div class="col-md-7" *ngIf="!flag">
    <table class="table  table-Light">
      <thead>
        <tr>
          <th>Shape</th>
          <th>Base</th>
          <th>Height</th>
          <th>Diameter</th>
          <th>Accions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let shape of listShapes">
          <td>{{shape.type}}</td>
          <td>{{shape.base ||"NA"}}</td>
          <td>{{shape.height||"NA"}}</td>
          <td>{{shape.diameter||"NA"}}</td>
          <td>
            <button class="btn" (click)="openModal(shape._id)"><mat-icon>edit</mat-icon></button>
            <button (click)="deleteShape(shape._id)" class="btn"><mat-icon>clear</mat-icon></button>
            <button class="btn"(click)="openArea(shape._id)"><mat-icon>expand</mat-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-7" *ngIf="flag&&status==0">
    <div class="alert alert-danger" role="alert">
      Error of Conection with server
      <button type="button" (click)="reload()" class="btn btn-warning"><mat-icon class="mt-1">refresh</mat-icon></button>
    </div>
  </div>
</div>
