/* footer */

.footer-style {
  padding-top: 20px;
  background-color: #2C3E50;
}
footer {
color: white;
}
footer h3 {
margin-bottom: 30px;
  font-weight: 500;
}
footer .footer-above {
padding-top: 50px;
background-color: #2C3E50;
}
footer .footer-col {
margin-bottom: 20px;
}
footer .footer-below {
padding: 10px 0;
background-color: #233140;
}

