<footer class="text-center footer-style">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-col">
        <h3>Dirección</h3>
        <p>
          Barquisimeto - Venezuela <br />
          Cabudare
        </p>
      </div>
      <div class="col-md-4 footer-col">
        <h3>Shapes</h3>
        <ul class="list-inline">
          <li>
            <p>Triangle</p>
          </li>
          <li>
            <p>Circle</p>
          </li>
          <li>
            <p>Square</p>
          </li>
        </ul>
      </div>
      <div class="col-md-4 footer-col">
        <h3>Ing. Andres Rodriguez</h3>
        <p>+58-424-733-58-09</p>
        <p>ing.rodriguez.selvi@gmail.com</p>
        <p>@rodriguezselvi18</p>
      </div>
    </div>
  </div>
</footer>
